altair==4.2.2
fuzzywuzzy
accelerate
streamlit==1.16.0
transformers
emot
huggingface-hub
langcodes
language-tool-python
lime
nltk
numpy
pandas
pillow
pip
psutil
safetensors
scikit-learn
scipy
setuptools
srsly
wheel
tqdm